@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



						<div class="row">
							<div class="col-md-8 col-md-offset-2 col-xs-12">

								<div class="section-title">
									<h2>پست های <strong>وبلاگ</strong></h2>
									<p>
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
									</p>
								</div>

							</div>
						</div>

						<div class="row">

							<!-- Post 1 -->
							<div class="col-md-4 res-margin wow fadeInUp" data-wow-delay=".1s">
								<div class="blog-col">
									<p>
										<a href="blog-post.html">
											<img src="images/blog/post-1.jpg" class="blog-img" alt="" />
										</a>
									</p>
									<div class="blog-wrapper">
										<div class="blog-about">6 شهرویور 1400</div>
										<div class="blog-text">
											<h4><a href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
											<p>
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
												<a href="blog-post.html" class="btn-read-more">بیشتر بخوانید</a>
											</p>
										</div>
									</div>
								</div>
							</div>

							<!-- Post 2 -->
							<div class="col-md-4 res-margin wow fadeInUp" data-wow-delay=".2s">
								<div class="blog-col">
									<p>
										<a href="blog-post.html">
											<img src="images/blog/post-2.jpg" class="blog-img" alt="" />
										</a>
									</p>
									<div class="blog-wrapper">
										<div class="blog-about">6 شهرویور 1400</div>
										<div class="blog-text">
											<h4><a href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
											<p>
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
												<a href="blog-post.html" class="btn-read-more">بیشتر بخوانید</a>
											</p>
										</div>
									</div>
								</div>
							</div>

							<!-- Post 3 -->
							<div class="col-md-4 wow fadeInUp" data-wow-delay=".3s">
								<div class="blog-col">
									<p>
										<a href="blog-post.html">
											<img src="images/blog/post-3.jpg" class="blog-img" alt="" />
										</a>
									</p>
									<div class="blog-wrapper">
										<div class="blog-about">6 شهرویور 1400</div>
										<div class="blog-text">
											<h4><a href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
											<p>
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
												<a href="blog-post.html" class="btn-read-more">بیشتر بخوانید</a>
											</p>
										</div>
									</div>
								</div>
							</div>

						</div>

	